<?xml version="1.0" encoding="UTF-8"?>

<?define BinaryFolder="../binaries"?>

<?if $(sys.BUILDARCH)="x86"?>
  <?define ProgramFilesARCHFolder="ProgramFilesFolder"?>
  <?define DriverFolderARCH="Win8.1Debug_win32"?>
<?elseif $(sys.BUILDARCH)="x64"?>
  <?define ProgramFilesARCHFolder="ProgramFiles64Folder"?>
  <?define DriverFolderARCH="Win8.1Debug_x64"?>
<?else?>
  <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>
    
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
	<Product Id="*" Name="VivoKey Smart Reader ($(sys.BUILDARCH))" Language="1033" Version="1.0.0.0" Manufacturer="VivoKey" UpgradeCode="6d60b0e4-c325-4d3b-b727-2f3e0b0a8afa">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of VivoKey Smart Reader is already installed." />
		<MediaTemplate EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesARCHFolder)">
        <Directory Id="INSTALLDIR" Name="VivoKeySmartReader">          
            <Component Id="VivoKeySmartReaderDriver" Guid="60FF3BFF-E235-4F84-8A25-E22CB3164FB1">
              <fire:FirewallException Id="vivokey_smart_reader_port" Name="vivokey_smart_reader_port"
                            Description="Port for VivoKey Smart Reader" Port="35963" Profile="all" Protocol="tcp" Scope="any" /> 
              <File Id="VivoKeySmartReader.dll" Source="$(var.VivoKeySmartReader.TargetDir)VivoKeySmartReader\VivoKeySmartReader.dll" />
              <File Id="VivoKeySmartReader.inf" Source="$(var.VivoKeySmartReader.TargetDir)VivoKeySmartReader\VivoKeySmartReader.inf" />
              <File Id="WudfUpdate_01011.dll" Source="$(var.VivoKeySmartReader.TargetDir)VivoKeySmartReader\WudfUpdate_01011.dll" />
              <File Id="wudf.cat" Source="$(var.VivoKeySmartReader.TargetDir)VivoKeySmartReader\VivoKeySmartReader.cat" />
            </Component>         
        </Directory>
      </Directory>

      <Directory Id="WindowsFolder">
        <Component Id="VivoKeySmartReaderConfiguration">
          <File Id="VivoKeySmartReader.ini" Source="VivoKeySmartReader.ini.template" Name="VivoKeySmartReader.ini" />
        </Component>
      </Directory>
    </Directory>
    
    <Binary Id="DevMsi" SourceFile="$(var.DevMsi.TargetPath)" />

    <CustomAction Id="AddDevice" BinaryKey="DevMsi" DllEntry="CreateDevnode" Execute="deferred" Impersonate="no" />
    <CustomAction Id="AddDevice.SetParam" Return="check" Property="AddDevice" Value='"[INSTALLDIR]VivoKeySmartReader.inf" root\VivoKeyVirtualReader' />
    
    <CustomAction Id="DelDevice" Return="ignore" BinaryKey="DevMsi" DllEntry="RemoveDevnode" Execute="deferred" Impersonate="no" />
    <CustomAction Id="DelDevice.SetParam" Return="check" Property="DelDevice" Value="root\VivoKeyVirtualReader" />

	<Feature Id="ProductFeature" Title="VivoKeySmartReader" Level="1">
      <ComponentRef Id="VivoKeySmartReaderDriver" />
      <ComponentRef Id="VivoKeySmartReaderConfiguration" />
	</Feature>

    <InstallExecuteSequence>
      <!-- Custom Actions that will be executed if "Installed" -->
      <Custom Action ="DelDevice.SetParam" After="InstallFiles">Installed</Custom>
      <Custom Action='DelDevice' After="DelDevice.SetParam">Installed</Custom>

      <!-- Custom Actions that will be executed if "NOT Installed" -->
      <Custom Action ="AddDevice.SetParam" After="DelDevice">NOT REMOVE</Custom>
      <Custom Action='AddDevice' After="AddDevice.SetParam">NOT REMOVE</Custom> 
    </InstallExecuteSequence>
	</Product>
</Wix>
